:root {
    --bg-g: #11151A;
    --bg-1: #222831;
    --bg-2: #393E46;
    --bg-3: #202733;
    --bg-4: #111621;
    --bg-m: #00ADB5;
    
    --nav-color: #b0bce2;
    --bg-menu-popup: #272f3d;
    --bg-menu-popup-hover: black;
    
    --bd: #2f324380;
    --bd-app: #3a3e53;
    --color: #EEEEEE;
    --link: aqua
}
* { margin: 0; color: var(--color); box-sizing: border-box; font-family: 'Open Sans', sans-serif; -webkit-tap-highlight-color: rgba(0 0 0 / 0) }


body { background-color: var(--bg-1); margin: 0; overflow: hidden }
body > * { position: absolute; top: 0 }

a:link { color: var(--link) }
a:visited { color: var(--link) }

input { outline: none }
input::placeholder { color: var(--color); opacity: .4 }
button, input { border: none; border-radius: 5px; transition: .3s; padding: 5px; background-color: var(--bg-1); cursor: pointer; outline: none }
button:hover { filter: brightness(120%) }
button:active { filter: brightness(140%) }

.inline-img { display: inline-flex; align-items: center }
.inline-img svg, .inline-img img { height: 1em }



/* #region -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- LOADING */
@keyframes inital-load-animation { 0% { transform: translateX(-10px) } 50% { transform: translateX(310px) } 100% { transform: translateX(-10px) } }
#initial-loading { width: 100%; height: 100%; background-color: inherit; padding: 10px; z-index: 100; transition: .3s }
#initial-loading > div { margin-top: 25vh; text-align: center; font-size: 2.5em; font-weight: 400 }
#initial-loading div div { height: 3px; border-radius: 3px }
#initial-loading   span { transition: .3s; display: block }
#initial-loading   .loader { width: min(400px, 75%); margin: 10px auto; background-color: var(--bg-2); overflow: hidden; transition: .3s }
#initial-loading    .blue-bar { width: 100px; background-color: royalblue; border-radius: 3px; animation: inital-load-animation 1s ease-in-out infinite }
/* #endregion  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */



/* #region -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- HOMEPAGE */
#main { width: 100%; height: 100%; background-color: inherit; overflow: auto }
@supports (overflow: overlay) { #main { overflow: overlay } }
#main .get-started { width: 100%; padding: 25px 25px 0; background-color: var(--bg-m) }
#main .get-started > * { display: block; margin: 10px auto  }
#main .get-started > img { width: 10em; height: auto }
#main .get-started h1 { width: 50%; text-align: center; font-weight: normal; margin: 0.75em auto }
#main .get-started span { width: 75%; text-align: center }

#main .get-started .start { width: fit-content; padding: .75em; font-size: 1em; border-radius: 2em }
#main .get-started .enter-username { width: 0; background-color: var(--bg-1); border-radius: 1.75em; padding: .7em; transition: .3s; overflow: hidden; display: none }
#main .get-started .enter-username input { padding: 0 .5em; width: 0; font-size: 1em; flex: 1 1 }
#main .get-started .enter-username .ok { padding: 0 .5em; background-color: var(--bg-m); border-radius: 1.5em; font-size: 1.5em}

#main .get-started .screenshots { height: 300px; overflow-y: hidden }
#main .get-started  .screenshots img { width: 40%; height: auto; transform: rotate(22.5deg) translate(50%, 7%) }
#main .get-started  .screenshots img:last-of-type { transform: rotate(22.5deg) translate(0, 7%) }

#main .features { max-width: 1200px; margin: 10px auto; padding: 20px; display: grid; row-gap: 1em; column-gap: 1em; grid-template-columns: 1fr 1fr 1fr }
#main  .features div { font-weight: 200 }
#main  .features h2 { font-weight: 300 }
#main  .features b { font-weight: 500 }

@media (min-width: 800px) { 
    #main .get-started .screenshots { height: 400px; margin-top: 1em; display: flex; justify-content: center }
    #main .get-started .screenshots img { height: 100%; width: auto; transform: scale(2) translateY(25%) }
    #main .get-started .screenshots img:last-of-type { transform: scale(1.5) translate(12.5%, 25%) }
}
@media (max-width: 700px) { #main .features  { grid-template-columns: 1fr 1fr } }
@media (max-width: 500px) { #main .features  { grid-template-columns: 1fr } }
@media (max-width: 450px) { 
    #main .get-started > img { width: 8em }
    #main .get-started h1 { font-size: 1.5em }
    #main .get-started .screenshots { height: 200px }
}
@media (max-width: 330px) { 
    #main .get-started > img { width: 6em }
    #main .get-started h1 { font-size: 1.1em }
    #main .get-started .screenshots { height: 100px }
}
/* #endregion  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */



/* #region -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- APP */
#app { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-color: var(--bg-g); z-index: 10; display: none;
       opacity: 0; transform: translateY(10px) scale(120%); transition: .3s }
#app .inner { width: 100%; height: 100%; max-width: 1600px; background-color: var(--bg-4); display: flex }
#app .inner > * { background-color: var(--bg-4); transition: .3s }

#app aside { width: 100% }
#app main { display: none }
#app nav { background-color: var(--bg-3); user-select: none; height: 60px }

/* ASIDE */
#app aside { overflow: hidden; display: grid }
#app aside > * { width: 100%; height: 100%; grid-row: 1 / 2; grid-column: 1 / 2; display: none; transform: translateY(2em); opacity: 0; transition: .3s; z-index: 4; background-color: var(--bg-3) }

#app aside > .main { min-height: 0; display: flex; flex-direction: column; transform: none; opacity: 1; z-index: 1; background-color: inherit }
#app aside > .main > * { width: 100% }

#app aside > .main nav { flex-shrink: 0; padding: 0 20px; display: flex; justify-content: space-between; align-items: center; box-shadow: 0 0 24px -12px black }
#app aside > .main nav img { width: 40px; height: 40px }
#app aside > .main nav > div { height: 42px }
#app aside > .main nav  .svg-button { width: auto; height: 100%; background-color: var(--bg-3); display: inline-block }
#app aside > .main nav   .svg-button span { border-radius: 50%; transition: .3s; display: block; background-color: inherit }
#app aside > .main nav    .svg-button span:hover { cursor: pointer }
#app aside > .main nav    .svg-button span:active { filter: brightness(140%) }
#app aside > .main nav    .svg-button svg { width: 18px; height: 18px; margin: 12px; fill: var(--nav-color) }
#app aside > .main nav  .svg-button .popup { position: absolute; z-index: 3 }
#app aside > .main nav  .svg-button .popup div { padding: 10px 0; background-color: var(--bg-menu-popup); margin: 5px -36px 0 -100px; border-radius: 5px;
                                               box-shadow: 0 0 24px -12px black; transform: scale(0.5); opacity: 0; transform-origin: right top; transition: .15s; display: none }
#app aside > .main nav  .svg-button .popup button { width: 100%; padding: 10px 0 10px 30px; text-align: left; display: block; font-size: .9em; border-radius: 0; background-color: inherit }
#app aside > .main nav  .svg-button .popup button:hover { background-color: var(--bg-menu-popup-hover) }

#app aside > .main .channels { height: calc(100% - 60px) }
#app aside > .main .search { height: calc(2.25em + 20px); padding: 10px; margin-bottom: 10px }
#app aside > .main .search .bar { width: 100%; height: 2.75em; background-color: var(--bg-3); border-radius: 10px; display: flex; align-items: center }
#app aside > .main .search svg { height: 1.25em; margin: 0 2em 0 1.5em }
#app aside > .main .search div { line-height: 2.75em; opacity: 0.5 }
#app aside > .main .list { overflow-y: auto; height: calc(100% - 2.25em - 30px) }
#app aside > .main .list > div /* channel */ { display: flex; align-items: center; flex-wrap: wrap; transition: .3s; flex-wrap: nowrap }
#app aside > .main  .list > div:hover { cursor: pointer; background-color: var(--bg-3) }
#app aside > .main  .list > div:active { filter: brightness(120%) }
#app aside > .main  .list > div img { width: 3em; height: 3em; padding: .25em; margin: 0 5px }
#app aside > .main  .list > div > div { height: 4em; flex-grow: 1; display: flex; align-content: center; flex-wrap: wrap }
#app aside > .main  .list > div > div a { width: 100%; font-size: 1.25em; white-space: nowrap }
#app aside > .main  .list > div > div span { display: block; font-size: .75em; white-space: nowrap }
#app aside > .main .list > hr { border: .2px solid var(--bd); width: 100% }
#app aside > .main .list > hr:last-of-type { display: none }


#app aside > .settings { flex-direction: column; overflow: hidden }
#app aside > .settings > span { height: 60px; font-size: 1.2em; padding: .75em; width: fit-content; cursor: pointer; user-select: none }
#app aside > .settings > span > .page-name { height: 100%; display: grid; overflow: hidden }
#app aside > .settings > span > .page-name * { grid-row: 1 / 2; grid-column: 1 / 2; display: flex; align-items: center }
#app aside > .settings > span > svg { font-size: 1.6em }
#app aside > .settings > div { flex-basis: 100%; background-color: var(--bg-4); display: grid; height: calc(100% - 60px) }
#app aside > .settings > div > * { width: 100%; height: 100%; grid-row: 1 / 2; grid-column: 1 / 2; display: none; transform: translateX(100%); transition: .3s; background-color: var(--bg-4); overflow-y: auto }
#app aside > .settings .main { display: flex; transform: none; flex-direction: column; overflow: hidden  }
#app aside > .settings .main button { padding: 1em; font-size: 1em; border-radius: 0; background-color: inherit; display: flex; align-items: center }
#app aside > .settings .main button:first-of-type { padding: .5em; margin-right: .5em; font-size: 1.5em; overflow: hidden }
#app aside > .settings .main button img { width: 3em; height: 3em; margin: 0 .25em }
#app aside > .settings .main button svg { width: 1.2em; margin: .5em }
#app aside > .settings .main hr { margin: 0 1em; border: 1px solid var(--bg-3) }
/* ASIDE */


/* MAIN */
#app main nav { padding: 0 20px; display: flex; justify-content: space-between; align-items: center }

#app main .homepage { width: 100%; height: calc(100% - 60px); display: flex; flex-direction: column; justify-content: center; align-items: center; 
                      background: linear-gradient(to top, var(--bg-m) 0% 6px, var(--bg-3) 6px 100%); background-color: var(--bg-3) }
#app main  .homepage div { margin-top: -70px; font-weight: 300; font-size: 3em }
#app main  .homepage  hr { border: .5px solid var(--bg-4); width: 100% }


@media (min-width: 720px) {
    #app aside { width: 360px; border-right: 1px solid var(--bd-app) }
    #app aside > * { transform: translateX(-100%) }

    #app main { display: block; flex-grow: 1 }
}
@media (min-width: 960px) { #app aside { width: 480px } }
@media (min-width: 1600px) { #app .inner { width: calc(100% - 40px); height: calc(100% - 40px); border-radius: 10px; overflow: hidden } }
/* #endregion  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */


::-webkit-scrollbar { width: 6px; -webkit-appearance: none }
::-webkit-scrollbar-thumb { background-color: var(--bg-2); border-radius: 3px }